@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Cinzel+Decorative:wght@400;700&family=Ruthie&family=Signika+Negative:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherry+Swash:wght@400;700&family=Cuprum:wght@500;700&family=Niconne&display=swap');

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Declare body as flex to properly place header, main and footer */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* Header holding navbar */
header {
    background-color: #3C312A;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 4px 10px #000000;
}

/* Navbar */
#navigation {
    display: flex;
    width: 100%;
    position: relative;
    /* Push all content apart */
    justify-content: space-between;
}

/* Navbar: text color for all elements */
#navigation>* {
    color: #D3F1D0;
}

/* Navbar: hide checkbox */
#mobile-menu-chk {
    display: none;
}

/* Navbar: toggle menu on mobiles */
#mobile-menu-chk:checked~#menu {
    display: flex;
}

/* Navbar: menu icon styles */
#mobile-menu-icon {
    align-self: center;
    font-size: 2rem;
    margin-right: 1.5rem;
}

/* Navbar: menu styles on mobiles */
#menu {
    /* For mobile view: hide menu until menu icon is clicked */
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #3C312A;
    top: 99%;
    box-shadow: 0 4px 4px #000000;
}

/* Navbar: menu item styles */
#menu>li {
    text-align: center;
    list-style-type: none;
    margin: 0.5rem 0;
}

#menu>li>a {
    text-decoration: none;
    color: #D3F1D0;
    padding: 0.2rem 0.5rem;
}

/* Navbar: user feedback when hovering and clicking */
#menu>li>a:hover {
    text-shadow: 0 0 5px #D3F1D0;
}

#menu>li>a:active,
#menu>li>a.active {
    border-bottom: 2px solid #50952d;
    border-top: 2px solid #50952d;
    border-radius: 5px 1px;
}

/* Navbar: Logo styles */
#logo {
    /* Logo line height translates into navbar height */
    line-height: 3.5rem;
    margin-left: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #a0a58f;
    text-shadow: 0 0 3px #D36135;
    font-family: "Cherry Swash", sans-serif;
}

/* Main section styles */
main {
    width: 100%;
    flex: 1 0 auto;
    /* Use logo line height as top margin */
    margin-top: 3.5rem;
}

section {
    width: 100%;
}

/* Scroll-by background images of empty sections */
.section-bg-1 {
    height: 30vh;
    background-image: url(../images/roman-synkevych-fjj7lVpCxRE-unsplash_tinified.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section-bg-2 {
    height: 30vh;
    background-image: url(../images/gabriel-jimenez-hands-hold-soil-unsplash.webp);
    background-position: top 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Background colors for sections with information */
.bg-light {
    background-color: #C3C397;
    color: #131515;
}

.bg-dark {
    background-color: #3C312A;
    color: #D3F1D0;
}

/* Hero flex div with background image*/
#hero {
    background: url(../images/glen-carrie-soil_leaf-unsplash_tinified.webp) no-repeat center center / cover;
    background-color: rgb(83, 86, 77);
    display: flex;
    flex-direction: column;
    height: 35vh;
    min-height: 12rem;
    align-items: center;
}

/* Hero section on Why page */
#why-page #hero {
    background: url(../images/paul-mocan-IY0oy3SS6jw-unsplash.jpg) no-repeat center center / cover;
}

#why-page #hero>h1 { 
    border: 1px solid red;
    line-height: 12rem;
    margin-top: 0;
}

/* Card styles on Why page */
#why-page .card-container {
    margin-top: 2rem;
    margin-bottom: 0;
    gap: 1rem;
    align-items: center;
}

#why-page .reverse-order {
    flex-direction: row-reverse;
}

#why-page .card-container .card {
    flex: 1 0 45%;
    border: none;
    box-shadow: none;
    align-self: center;
}

#why-page .card-container img {
    flex: 0 1 35%;
}

/* Center all hero elements */
#hero>* {
    text-align: center;
}

/* Style empty div in header to push other elements down */
#empty {
    flex: 8 1 auto;
}

/* Hero section elements */
#hero>h1 {
    flex: 2 0 auto;
    color: #D3F1D0;
    font-size: 3rem;
    margin-top: 1rem;
    text-shadow: 0 0 5px #C3C397;
}

#hero>p {
    flex: 3 0 auto;
    color: #D3F1D0;
    font-size: 1.2rem;
}

#hero .button,
.register-bottom .button {
    flex: 0 0 auto;
    background-color: #50952d;
    border: 3px solid #D3F1D0;
    border-radius: 15px 1px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    color: #D3F1D0;
    text-decoration: none;
    font-weight: 600;
}

#hero .button {
    margin-top: 1rem;
}

/* Styles for buttons to respond to user interaction */
#hero .button:hover,
.button:hover,
#reg-form .button:hover {
    background-color: #4a5107;
    box-shadow: 0 0 5px inset #131515;
    text-shadow: 0 0 3px #C3C397;
}

#hero .button:active,
.button:active,
#reg-form .button:active {
    background-color: #3C312A;
}

/* Style for main div in each section, with responsive outer width */
.outer-width {
    width: 90%;
    margin: auto;
}

/* Flex styles within the section divs */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* h2 heading styles */
.page-section h2 {
    text-align: center;
    width: 70%;
    padding: 1rem 0 0 0;
    margin: 0 0 1rem 0;
}

.top-section>h2,
.bg-light h2,
.bg-light h3 {
    border-bottom: 5px solid #3C312A;
}

.bg-dark h2,
.bg-dark h3 {
    border-bottom: 5px solid #C3C397;
}

/* Paragraph styles in top section */
.top-section>div>p {
    padding: 0 1rem;
    margin: 0 0 1rem 0;
    text-align: justify;
    align-self: center;
}

/* Styles for mobile only: elements shown in a row on big screens are shown in a column on mobiles */
.mobile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Card container: override some styles for mobile-column and flex-row */
.card-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;

}

/* Card and info box styles on mobiles*/
.card,
.info-box {
    width: 90%;
}

.card {
    box-shadow: 0 0 10px #131515;
    border-radius: 15px 1px;
}

/* h3 heading styles */
.card>h3,
.info-box>h3 {
    text-align: center;
    width: 100%;
    margin: 0.5rem auto;
}

/* Styles for cards with lists */
.card ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card ul li {
    list-style-type: square;
    margin-bottom: 0.3rem;
}

/* Span styles for text with emphasis */
.emph-text {
    color: #2f412c;
    font-weight: 500;
}

/* Styles for cards with paragraphs */
.card p {
    padding: 1rem;
    text-align: justify;
}

/* Info box styles */
.info-box {
    position: relative;
    align-self: center;
    box-shadow: 0 0 10px #131515;
    border-radius: 15px 1px;
    font-size: 140%;
}

.info-box>p {
    margin-bottom: 1rem;
}

/* div containing the map screenshot */
.image-box {
    box-shadow: none;
    border-radius: 0;
}

/* Placement of icons in info boxes */
.info-box i {
    position: absolute;
    font-size: 150%;
    left: 1rem;
}

/* Bottom section, div with info and call to action */
.register-bottom {
    width: 80%;
}

.register-bottom>p {
    width: 100%;
    border: 5px solid #D36135;
    border-radius: 15px 1px;
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
}

.register-bottom .button {
    font-size: 150%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* Info box placement */
.register-bottom .info-box {
    flex-direction: row;
    flex: 1 0 45%;
}

/* Image styles */
#map-image {
    margin-top: 1rem;
    height: auto;
    width: 100%;
    border-radius: 15px 1px;
    /* Image max width in px shall limit the map size on very large screens */
    max-width: 800px;
}

/* Styles for elements with center class */
.center {
    text-align: center;
}

/* Style for hidden headers */
.hidden-header {
    display: none;
}

/* Footer styles */
footer {
    background-color: #D36135;
    width: 100%;
    color: #131515;
}

/* Social link styles */
#social {
    display: flex;
    justify-content: space-evenly;
}

#social a {
    font-size: 2rem;
    padding: 1rem 0;
    color: #131515;
}

#site-notice {
    padding: 0 0 1rem;
    font-weight: 400;
    font-size: 90%;
}

#site-notice span {
    font-weight: 300;
    font-size: 90%;
}


/* Registration page styles */
#register-bg {
    background: url("../images/steven-weeks-corn_soil-unsplash.webp") no-repeat center center / cover;
    color: #C3C397;
}

#register-bg .bg-dark,
#register-bg .bg-light {
    background: none;
}

.bg-opaque,
.register-top .card {
    background-color: rgba(60,49,42, 0.9);
}

.register-top .card-container {
    margin-top: 2rem;
}

.register-top h2 ,
#reg-fields {
    width: 100%;
}
.register-top > p {
    width: 90%;
    border: 3px solid #D36135;
    border-radius: 15px 1px;
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
}

#open-seats {
    font-size: 110%;
    color: #50952d;
    font-weight: 600;
}

#reg-fields {
    padding: 2rem;
    margin: 1rem 0.5rem 0 0.5rem;
    /* border: 1px solid red; */
}

#reg-fields legend {
    font-weight: 600;
}

#reg-form label {
    line-height: 3rem;
    /* font-size: 1.3rem; */
    font-weight: 600;
    /* border: 1px solid red; */
}

#reg-form textarea {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1.3rem;
    background-color: rgba(195,195,151,0.5);
    border: 3px solid #C3C397;
}

#reg-form input {
    /* border: 1px solid red; */
    width: 100%;
    line-height: 2rem;
    /* font-size: 1.3rem; */
    padding-left: 0.5rem;
    background-color: rgba(195,195,151,0.5);
    border: 3px solid #C3C397;
}

#reg-form #amount {
    width: 4rem;
}

#reg-form input[type=submit] {
    width: 10rem;
    margin: 1rem calc(50% - 5rem);
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px 1px;
    background-color: #50952d;
    border: 3px solid  #D3F1D0;
    color: #D3F1D0;
}

#reg-form input:focus,
#reg-form textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #C3C397;
}

/* Media query for view on rotated phones and small tablets */
@media screen and (min-width: 517px) {


    /* Register page: content width */
    .register-top {
        width: 80%;
    }

    /* Bottom section: override mobile-column styles */
    .register-bottom .flex-row {
        flex-direction: row;
        width: 100%;
    }

    /* Logo for > 517px */
    #logo {
        font-size: 2.3rem;
    }

    /* Hero image for > 517px */
    /* #hero {
        height: 35vh;
        min-height: 12rem;
    } */

    /* Make cards and info boxes centered */
    /* .card-container {
        justify-content: space-around;
        gap: 10px;
    }
     */
    /* .info-box {
        align-self: center;
    } */

    .card,
    .info-box {
        max-width: 90%;
        /* Make sure cards in a row have the same height */
        align-self: stretch;
    }

    /* Bottom section styles */
    .register-bottom>p {
        width: 50%;
        margin: 1rem auto 1rem auto;
        border: 5px solid #D36135;
        border-radius: 15px 1px;
        padding: 0.5rem 0;
    }

    /* Footer styles */
    #social {
        justify-content: center;
    }

    #social a {
        font-size: 2rem;
        padding: 1rem 3rem;
        color: #131515;
    }
}

/* Media query for view on larger screens > 768px */
@media screen and (min-width: 768px) {


    .outer-width {
        width: 80%;
    }

    /* Register page: content width */
    .register-top {
        width: 60%;
    }

    /* Row style for certain divs on > 768px  */
    .flex-row {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Top section: display paragraphs as columns in a row */
    .top-section>div>p {
        flex: 1 0 45%;
    }

    /* Scroll-by images for > 768px */
    .section-bg-1,
    .section-bg-2 {
        height: 40vh;
    }

    /* Cards and info boxes for > 768px  */
    .card,
    .info-box {
        max-width: 80%;
        flex: 1 0 40%;
    }

    .info-box {
        align-self: center;
    }

    #why-page .card {
        max-width: 100%;
    }

    /* Navbar: hide menu icon, make all navigation links visible */
    #mobile-menu-icon {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 60%;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: none;
    }

    /* Map screenshot: restrict max size */
    #map-image {
        max-width: 80%;
    }

}

/* Media query for view on screens > 875px*/
@media screen and (min-width: 875px) {

    /* Register page: content width */
    .register-top {
        width: 60%;
    }

    .register-bottom {
        width: 70%;
    }


    .card,
    .info-box {
        max-width: 60%;
        flex: 1 0 40%;
    }

}

/* Media query for view on large screens > 1024px*/
@media screen and (min-width: 1024px) {

    /* Register page: content width */
    .register-top {
        width: 50%;
    }

    .top-section {
        width: 70%;
    }

    #hero h1 {
        font-size: 350%;
    }

    .register-bottom > p {
        font-size: 120%;
    }

}

/* Media query for view on very large screens > 1440px*/
@media screen and (min-width: 1440px) {

    /* Register page: content width */
    .register-top {
        width: 40%;
    }

    .top-section {
        width: 60%;
    }

    .register-bottom {
        width: 60%;
    }

    .card,
    .info-box {
        max-width: 60%;
        flex: 1 0 30%;
    }

    .card {
        padding: 1rem 2rem;
    }
}

/* Media query for view on very large screens > 2560px */
@media screen and (min-width: 2560px) {

    .outer-width {
        width: 60%;
    }

    /* Register page: content width */
    .register-top {
        width: 40%;
    }

    /* Hero section: increase in size to better stand out on a very large screen */
    #hero {
        min-height: 22rem;
    }

    #hero h1 {
        font-size: 400%;
    }

    #hero p {
        font-size: 150%;
    }

    #hero .button,
    .register-bottom .button {
        font-size: 130%;
        padding: 1rem 2rem;
        border: 6px solid #D3F1D0;
        border-radius: 40px 2px;
    }

    /* Adjust body font size */
    body {
        font-size: 150%;
    }
}