@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Cinzel+Decorative:wght@400;700&family=Ruthie&family=Signika+Negative:wght@300;400;500;600&display=swap'); 
/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Declare body as flex to properly place header, main and footer */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Signika Negative", sans-serif;
}

header {
    background-color: #3C312A;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 4px 10px #000000;
}

/* Navbar */
#navigation {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;

}

/* Navbar: make all subelements take up all available space in the nav bar */
#navigation > * {
    /* flex: 1 0 auto; */
    color: #D3F1D0;
}

/* Navbar: hide checkbox */
#mobile-menu-chk {
    display: none;
}

/* Navbar: toggle menu */
#mobile-menu-chk:checked ~ #menu {
    display: block;
}

/* Navbar: menu icon styles */
#mobile-menu-icon {
    /* cursor: pointer; */
    /* text-align: right; */
    align-self: center;
    font-size: 2rem;
    margin-right: 1.5rem;
}

/* Navbar: menu styles */
#menu {
    position: absolute;
    width: 100%;
    background-color: #3C312A;
    top: 99%;
    box-shadow: 0 4px 4px #000000;
    
    /* For mobile view: hide menu until menu icon is clicked */
    display: none;
}

/* Navbar: menu item styles */
#menu > li {
    text-align: center;
    list-style-type: none;
    margin: 0.5rem 0;
}

#menu > li > a {
    text-decoration: none;
    color: #D3F1D0;

}    

/* Navbar: Logo styles */
#logo {
    line-height: 4rem;
    margin-left: 2rem;
    font-size: 3rem;
    text-decoration: none;
    color: #D3F1D0;
    font-family: "Ruthie", serif;
}

/* Main section style */
main {
    /* background-color: bisque; */
    width: 100%;
    flex: 1 0 auto;
    /* Use logo line height as margin */
    margin-top: 4rem;
}

section {
    width: 100%;
}

.background-1 {
    background-color: #C3C397;
    color: #131515;
}

.background-2 {
    background-color: #3C312A;
    color: #D3F1D0;
}

/* Hero div */
#hero {
    background: url('../images/glen-carrie-soil_leaf-unsplash.webp') no-repeat center center / cover;
    background-color: rgb(83, 86, 77);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    height: 35vh;
    /* width: fit-content; */
    /* margin: auto; */
    align-items: center;
    /* min-height: fit-content; */
}

#hero > * {
    text-align: center;
    flex: 1.5 0 auto;
    /* border: 1px solid red; */
}

#hero > h1 {
    flex: 0.5 0 auto;
    color: #D3F1D0;
    font-size: 3rem;
    text-shadow: 0 0 5px #C3C397;
}

#hero > p {
    color: #D3F1D0;
    font-size: 1.2rem;
    
}

#hero .button,
.button {
    flex: 0 0 auto;
    background-color: #D36135;
    border: 3px solid #D3F1D0;
    border-radius: 15px 1px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    color: #D3F1D0;
    text-decoration: none;
    font-weight: 600;
}


/* Empty div in header to push other elements down */
#empty {
    flex: 4 0 auto;
}


/* Section div style with responsive outer width */
.outer-width {
    width: 90%;
    margin: auto;
}

/* Section div flex styles */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section h2 {
    text-align: center;
    width: 70%;
    margin: 1rem 0;
}

.top-section > h2 {
    border-bottom: 5px solid #3C312A;
}

.background-1  h2 {
    border-bottom: 5px solid #3C312A;
}

.background-2  h2 {
    border-bottom: 5px solid #C3C397;
}

/* Styles for mobile only */
.mobile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Override styles for mobile-column and flex-row */
.card-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}
.card, .info-box {
    width: 90%;
    /* border: 1px solid red; */
    
}
/* Card and info box styles */
.card > h3,
.info-box > h3,
.register-bottom > h3 {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    border-bottom: 5px solid #C3C397;
}

/* Styles for cards with lists */
.card ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.info-box {
    align-self: center;
    text-align: center;
}


.register-bottom {
    /* border: 1px solid red; */
}

.register-bottom > p, .top-section p {
    margin: 0 0 1rem 0;
}

.register-bottom > a {
    margin-bottom: 1rem;
}

/* Styles for elements with center-text class */
.center-text {
    text-align: center;
}

/* Image styles */
#image-1, #image-2 {
    max-width: 90%;
    padding: 1rem 0 2rem 0;
}





/* Footer styles */
footer {
    background-color: #D36135;
    width: 100%;
    color: #131515;
}

#social {
    display: flex;
    justify-content: space-evenly;
}

#social a {
    font-size: 2rem;
    padding: 1rem 0;
}

#site-notice {
    padding: 1rem;
    text-align: center;
}