@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Cinzel+Decorative:wght@400;700&family=Ruthie&family=Signika+Negative:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherry+Swash:wght@400;700&family=Cuprum:wght@500;700&family=Niconne&display=swap');

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Declare body as flex to properly place header, main and footer */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
}

/* Header holding navbar */
header {
    background-color: #3C312A;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 4px 10px #000000;
}

/* Navbar */
#navigation {
    display: flex;
    width: 100%;
    position: relative;
    /* Push all content apart */
    justify-content: space-between;
}

/* Navbar: text color for all elements */
#navigation>* {
    color: #D3F1D0;
}

/* Navbar: hide checkbox */
#mobile-menu-chk {
    display: none;
}

/* Navbar: toggle menu on mobiles */
#mobile-menu-chk:checked~#menu {
    display: flex;
}

/* Navbar: menu icon styles */
#mobile-menu-icon {
    align-self: center;
    font-size: 2rem;
    margin-right: 1.5rem;
}

/* Navbar: menu styles on mobiles */
#menu {
    /* For mobile view: hide menu until menu icon is clicked */
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #3C312A;
    top: 99%;
    box-shadow: 0 4px 4px #000000;
}

/* Navbar: menu item styles */
#menu>li {
    text-align: center;
    list-style-type: none;
    margin: 0.5rem 0;
}

#menu>li>a {
    text-decoration: none;
    color: #D3F1D0;
    padding: 0.2rem 0.5rem;
}

/* Navbar: user feedback when hovering and clicking */
#menu>li>a:hover {
    text-shadow: 0 0 5px #D3F1D0;
}

#menu>li>a:active,
#menu>li>a.active {
    border-bottom: 2px solid #50952d;
    border-top: 2px solid #50952d;
    border-radius: 5px 1px;
}

/* Navbar: Logo styles */
#logo {
    /* Logo line height translates into navbar height */
    line-height: 3.5rem;
    margin-left: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #a0a58f;
    text-shadow: 0 0 3px #D36135;
    font-family: "Cherry Swash", sans-serif;
}

/* Main section styles */
main {
    width: 100%;
    flex: 1 0 auto;
    /* Use logo line height as top margin */
    margin-top: 3.5rem;
}

section {
    width: 100%;
}

/* Scroll-by background images of empty sections */
.section-bg-1 {
    height: 30vh;
    background-image: url(../images/roman-synkevych-fjj7lVpCxRE-unsplash_tinified.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section-bg-2 {
    height: 30vh;
    background-image: url(../images/gabriel-jimenez-hands-hold-soil-unsplash.webp);
    background-position: top 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Background colors for sections with information */
.background-1 {
    background-color: #C3C397;
    color: #131515;
}

.background-2 {
    background-color: #3C312A;
    color: #D3F1D0;
}

/* Hero div */
#hero {
    background: url(../images/glen-carrie-soil_leaf-unsplash_tinified.webp) no-repeat center center / cover;
    background-color: rgb(83, 86, 77);
    display: flex;
    flex-direction: column;
    height: 35vh;
    min-height: 12rem;
    align-items: center;
}

/* Center all hero elements */
#hero>* {
    text-align: center;
}

/* Style empty div in header to push other elements down */
#empty {
    flex: 8 1 auto;
}

#hero>h1 {
    flex: 2 0 auto;
    color: #D3F1D0;
    font-size: 3rem;
    margin-top: 1rem;
    text-shadow: 0 0 5px #C3C397;
}

#hero>p {
    color: #D3F1D0;
    font-size: 1.2rem;
    flex: 3 0 auto;

}

#hero .button,
.register-bottom .button {
    flex: 0 0 auto;
    background-color: #50952d;
    border: 3px solid #D3F1D0;
    border-radius: 15px 1px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    color: #D3F1D0;
    text-decoration: none;
    font-weight: 600;
}

#hero .button {
    margin-top: 1rem;
}

#hero .button:hover,
.button:hover {
    background-color: #4a5107;
    box-shadow: 0 0 5px inset #131515;
    text-shadow: 0 0 3px #C3C397;
}

#hero .button:active,
.button:active {
    background-color: #3C312A;
}



/* Section div style with responsive outer width */
.outer-width {
    width: 90%;
    margin: auto;
}

/* Section div flex styles */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section h2 {
    text-align: center;
    width: 70%;
    margin: 1rem 0;
}

.top-section>h2,
.background-1 h2,
.background-1 h3 {
    border-bottom: 5px solid #3C312A;
}

.background-2 h2,
.background-2 h3 {
    border-bottom: 5px solid #C3C397;
}

.top-section>div>p {
    padding: 0 1rem;
    margin: 0 0 1rem 0;
    text-align: justify;
    align-self: center;
}

/* Styles for mobile only */
.mobile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Override styles for mobile-column and flex-row */
.card-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Card and info box styles */
.card,
.info-box {
    width: 90%;
    /* border: 1px solid red; */
}

/* .background-1 .card {
    box-shadow: 0 0 10px #1f3e2c;
} */

.card {
    box-shadow: 0 0 10px #131515;
    border-radius: 15px 1px;
}

.card>h3,
.info-box>h3 {
    text-align: center;
    width: 100%;
    margin: 0.5rem auto;
}

.register-bottom>h3 {
    text-align: center;
    width: 70%;
    margin: 0.5rem auto;
}

/* Styles for cards with lists */
.card ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card ul li {
    list-style-type: square;
    margin-bottom: 0.3rem;
    /* text-align: justify; */
}

.green-text {
    color: #2f412c;
    font-weight: 500;
    /* text-decoration: underline; */
}

/* Styles for cards with paragraphs */
.card p {
    padding: 1rem;
    text-align: justify;
}

/* Info box styles */
.info-box {
    position: relative;
    align-self: center;
    text-align: center;
    box-shadow: 0 0 10px #131515;
    border-radius: 15px 1px;
    font-size: 150%;
}

/* Placement of icons in info boxes */
.info-box i {
    position: absolute;
    font-size: 150%;
    left: 1rem;
}

.info-box>p {
    margin-bottom: 1rem;
}

.image-box {
    box-shadow: none;
    border-radius: 0;
}

.register-bottom {
    /* border: 1px solid red; */
    width: 80%;
}

.register-bottom>p {
    width: 100%;
    border: 5px solid #D36135;
    border-radius: 15px 1px;
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
}

.register-bottom .button {
    font-size: 150%;
    margin-bottom: 1rem;
}

/* Info box placement */
.register-bottom .card-container .info-box {
    flex-direction: row;
    flex: 1 0 45%;
}

.register-bottom .card-container .image-box {
    max-width: 800px;
    margin-top: 1rem;
}

/* Styles for elements with center-text class */
.center-text {
    text-align: center;
}

/* Image styles */
#map-image {
    height: auto;
    width: 100%;
    /* padding: 1rem 0 2rem 0; */
    border-radius: 15px 1px;
}

.hidden-header {
    display: none;
}

/* Footer styles */
footer {
    background-color: #D36135;
    width: 100%;
    color: #131515;
}

#social {
    display: flex;
    justify-content: space-evenly;
}

#social a {
    font-size: 2rem;
    padding: 1rem 0;
    color: #131515;
}

#site-notice {
    padding: 0 0 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 90%;
}

#site-notice span {
    font-weight: 300;
    font-size: 90%;
}

/* Media query for view on rotated phones and small tablets */
@media screen and (min-width: 517px) {

    .outer-width {
        width: 90%;
    }

    /* Override mobile-column styles */
    .flex-row {
        /* border: 1px solid red; */
        flex-direction: row;
        width: 100%;
    }

    /* Keep top section a column on small tablets */
    .top-section .flex-row,
    .card-container {
        flex-direction: column;
    }

    #hero {
        height: 50vh;
        min-height: 12rem;
    }

    #logo {
        font-size: 2.3rem;
    }

    /* Top section style: display paragraph and image in different layouts depending on screen size */
    .top-section>div>p {
        flex: 1 0 50%;
        /* padding: 1rem 3rem 1rem 0; */
        margin: 0 0 1rem 0;
        /* text-align: justify; */
        /* align-self: center; */
    }


    /* Show cards in a row for larger screens */
    .card-container {
        justify-content: space-around;
        gap: 10px;
    }

    .card,
    .info-box {
        /* min-width: 20vw; */
        max-width: 90%;
        /* align-self: stretch; */
        /* flex: 1 0 300px; */


    }

    .register-bottom>p {
        width: 50%;
        margin: 1rem auto 1rem auto;
        border: 5px solid #D36135;
        border-radius: 15px 1px;
        padding: 0.5rem 0;
    }

    /* Footer styles */
    #social {
        justify-content: center;
    }

    #social a {
        font-size: 2rem;
        padding: 1rem 3rem;
        color: #131515;
    }
}

/* Media query for view on larger screens*/
@media screen and (min-width: 750px) {

    .outer-width {
        width: 70%;
    }

    .image-bg,
    .image-bg-1 {
        height: 50vh;
        /* background-image: url('../images/roman-synkevych-fjj7lVpCxRE-unsplash_tinified.webp'); */
    }

    .top-section .flex-row,
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* width: 100%; */
    }

    .card,
    .info-box {
        /* min-width: 40%; */
        max-width: 80%;
        /* Make sure cards in a row have the same height */
        align-self: stretch;
        flex: 1 0 300px;
    }

    .info-box {
        align-self: center;
    }


    /* Make all navigation links visible */
    #mobile-menu-icon {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 60%;
        /* flex: 1 0 60%; */
        justify-content: space-evenly;
        align-items: center;
        box-shadow: none;
    }

    #hero {
        height: 50vh;
        min-height: 12rem;
        background: url(../images/glen-carrie-soil_leaf-unsplash_tinified.webp) no-repeat center center / cover;
    }


    #map-image {
        max-width: 60%;
    }

}

/* Media query for view on screens > 875px*/
@media screen and (min-width: 875px) {

    .card,
    .info-box {
        max-width: 60%;
    }

}

/* Media query for view on very large screens > 1000px*/
@media screen and (min-width: 1000px) {

    .top-section .flex-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    #map-image {
        max-width: 75%;
    }

    #hero {
        height: 40vh;
        min-height: 12rem;
    }

}

/* Media query for view on very large screens > 2000px */
@media screen and (min-width: 2000px) {

    /* Adjust body font size */
    body {
        font-size: 150%;
    }
}